<div class="row p-3 col px-md-4">
  <div class="col-sm-3 p-3 border bg-light">
    <%= form_for (Employee.new), url: employees_path do |f| %>
      <div class="form-group">
        <%= f.label "Name" %>
        <%= f.text_field :name, class: "form-control", :required => true %>
      </div>
      <div class="form-group">
        <%= f.collection_select :department_id, Department.all, :id, :name, { :prompt => 'Choose category' }, { :class => "form-control", :required => true } %>
      </div>
      <div class="form-group">
        <%= f.label "Active" %>
        <%= f.check_box :active, {}, 'yes', 'no' %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Back", employees_path, class: "btn btn-light" %>
    <% end %>
  </div>
</div>
