<div class="row p-3 col px-md-4">
  <div class="col-lg-6">
    <%= form_for @department, url: department_path do |f| %>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Back", departments_path, class: "btn btn-light" %>
    <% end %>
  </div>
</div>
