<div class="row p-3 px-md-2">
  <div class="col-lg-2">
    <%= form_for (Department.new), url: departments_path do |f| %>
      <div class="form-group">
        <%= f.label "Department name" %><br>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to "Back", root_path, class: "btn btn-light" %>
    <% end %>
    </div>
</div>
